html, body {
    background-color: cadetblue;
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: rgb(241, 241, 241);
}

/* nav stuff */

.navbar {
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 0px 8% 0px 10%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 2;
}

.navbar .navlinks {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  height: 100%;
  font-weight: bold;
}

.navbar li:hover {
    cursor: pointer;
    background-color: rgba(196, 196, 196, 0.233);
}

/* main bilboard stuff */

.main-box {
    display: flex;
    color: #F9FAF8;
    background-image: url("./img/entrance.jpg");
    background-color: #1F2937;
    background-size:100%;
    align-items: center;
    justify-content: center;
    padding: 4% 10% 4% 10%;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
    margin: 0;
    padding: 5%;
    height: 40%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-weight: 400;
  
  margin: 0;
}

.info p {
    font-size: large;
}

.img-box{
    display: block;
    padding: 2%;
}

.img-box img {
    max-width: auto;
    max-height: 350px;
    min-height: 150;
    border-radius: 10px;
    transition: 0.3s;
}

.img-box img:hover {
    transform:scale(1.05);
}

/* mid-box content stuff */

.mid-box {  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(181,23,158);
    background: linear-gradient(180deg, rgb(12, 57, 108) 0%, rgb(21, 54, 161) 15%, rgba(72,12,168,1) 50%, rgb(22, 129, 161) 100%);}

.mid-box .title {
    display:block;
    flex: 1;
}

.mid-box .row{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 2% 10%;
    gap: 10%;

}

.mid-box .row-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.00);
    border-radius: 10px;
    width: 400px;
    transition: 0.4s;
}

.mid-box .row-box:hover {
    background-color: rgba(0, 0, 0, 0.60);
}

.mid-box .row-box img {
    max-width: 200px;
    height: auto;
    min-height: 100px;
    border-radius: 10px;
    transition: 0.4s;
}

.mid-box .row-box:hover img {
    transform:scale(1.05);
}

/* quote and follow box */
.award-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 10%;
    background-image: url("./img/cityscape.jpg");
    background-color: #1F2937;
    background-size: 100%;
}

.award-box .callnow {
    font-size: 150%;
}

.award-box .row-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.award-box .row-box img {
    max-width: 200px;
    height: auto;
    min-height: 100px;
    border-radius: 10px;   
    margin: 0px 45px;
}

span {
    border: 2px white solid;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

/* footer stuff */
.footer {
    display: flex;
    flex-flow: column wrap;
    padding: 2% 10%;
    background-color: rgba(40, 40, 40);
    
}

.footer p {
    color: rgb(168, 168, 168);
    margin: 0;
    padding: 0;
    font-size: smaller;
}
.footer footer {
    margin: 0;
    padding: 0;
    align-self: center;
}